h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: darkgoldenrod;
  text-align: center;
}

body {
  background-color: black;
  color: lightgray;
  font-family: Georgia, "Times New Roman", Times, serif;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

a {
  color: lightblue;
  font-weight: 100;
  margin-top: 15px;
  padding-top: 10px;
  margin-bottom: 10px;
}

nav.secondary-menu {
  margin-top: 15px;
  border-top: 1px solid white;
  padding-top: 10px;
}

nav.secondary-menu a {
  color: darkgoldenrod;
  margin: 10px;
}

p {
  line-height: 1.5;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  line-height: 1.5;
  margin-bottom: 20px;
}
