<header>
  <h1>Sagun Acharya | Sleek Alligator - ITIS 3135</h1>
  <hr />
  <nav>
    <a href="/index.html">Home</a> |
    <a href="/itis3135/projects/introduction.html">Introduction</a> |
    <a href="/itis3135/survey.html">Survey</a> |
    <a href="/itis3135/gallery.html">Gallery</a> |
    <a href="/itis3135/inventory.html">Inventory</a> |
    <a href="/itis3135/instructions.html">Instructions</a> |
    <a href="/itis3135/highlight.html">Highlight</a>
  </nav>
  <nav class="secondary-menu">
    <a href="/itis3135/stuff/Weird%20%26F1le.htm">CRAPpy Page</a>
  </nav>
</header>
