<header>
  <h1>Sagun Acharya | Sleek Alligator</h1>
  <nav>
    <a href="https://sagunacharya05.github.io/index.html">Home Page</a>
    |
    <a
      href="https://sagunacharya05.github.io/itis3135/projects/introduction.html"
      >Introduction Page</a
    >
    |
    <a href="https://sagunacharya05.github.io/itis3135/projects/contract.html"
      >Contract Page</a
    >
    |
    <a
      href="https://sagunacharya05.github.io/itis3135/projects/website_evaluations.html"
      >Website Evaluations</a
    >
  </nav>
</header>
